.likedSongs {
    display: flex;
}

.liked__wrapper {
    // padding: 0px 40px;
    padding-top: 100px;
    width: 100%;
    background: linear-gradient(180deg, #604EC1 5.09%, #121212 43.28%);

}

.liked__header {
    display: flex;
    padding: 0px 40px;
    padding-bottom: 30px;
    align-items: center;

    img {
        width: 297px;
        height: 297px;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
        margin-right: 32px;
    }
}

.liked__text {
    text-transform: capitalize;
    color: #fff;

    p {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }

    h1 {
        font-size: 100px;
        font-weight: 900;
        margin-bottom: 12px;
    }
}

.liked__funksion {
    height: 100vh;
    background: linear-gradient(180deg, #2b254a 5.09%, #121212 43.28%);
    width: 100%;
}

.controls {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 30px 40px;
    justify-content: space-between;
}



.playlist__actions {
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .playlist__actions__left {
      display: flex;
      align-items: center;
      gap: 21px;
      p {
        font-size: 52px;
        &:first-child {
          color: #65d36e;
          font-size: 72px;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          color: #fff;
          margin-left: 36px;
        }
      }
    }
  }


.filter {
    display: flex;
    color: #fff;

    .searchIcon {
        font-size: 23px;
        margin-right: 31px;
    }

    p {
        font-size: 18px;
        font-weight: 450;
        align-items: center;
        display: flex;
        gap: 15px;

        svg {
            font-size: 13px;
        }
    }
}